
{% extends 'layout.html' %}

{% block body %}
    <div class="container">
      {% for app in projects %}
          {% if loop.index % 3 == 0 %}
            <div class="row">
          {% endif %}
            <div class="col-md-4">
              <h2><a href="{{ app.url }}">{{ app.name }}</a></h2>
              <p><a role="button" href="{{ app.url }}" class="btn btn-default">View App »</a></p>
            </div>
          {% if loop.index % 3 == 0 %}
            </div>
          {% endif %}
      {% endfor %}
    </div>
{% endblock %}
